<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user.player.common.IngreMapper">

<resultMap type="IngreDTO" id="IngreResultMap">
		<id property="no" column="INGRE_NO" />
		<result property="name" column="INGRE_NAME" />
		<result property="price" column="INGRE_PRICE" />
		<result property="img" column="INGRE_IMG" />
		
	</resultMap>
	
	<resultMap type="StorageDTO" id="StorageResultMap">
		<id property="ingreNo" column="INGRE_NO" />
		<result property="ingreCnt" column="INGRE_CNT" />
		<result property="playerName" column="PlayerName" />
		<result property="img" column="INGRE_IMG" />
		
	</resultMap>
	

<resultMap type="RecipeDTO" id="recipeResultMap">
		<id property="no" column="RECIPE_NO" />
		<result property="name" column="FOOD_NAME" />
		<result property="recipePrice" column="RECIPE_PRICE" />
		<result property="foodPrice" column="FOOD_PRICE" />
		<result property="exp" column="FOOD_EXP" />
	</resultMap>
	
<resultMap type="PlayerRecipeDTO" id="RecipeResultMap">
		<id property="recipeNo" column="PLAYERRECIPE_RECIPENO" />
		<result property="PlayerName" column="PLAYERRECIPE_PLAYERNAME" />		
	</resultMap>



<select id="selectAllingre" parameterType="PlayerDTO" resultMap="StorageResultMap" >

SELECT A.INGRE_IMG,
       B.INGRE_CNT
  FROM INGRE A
  JOIN STORAGE B ON ( A.INGRE_NO = B.INGRE_NO )
 WHERE B.PLAYER_NAME = #{ name }
</select>



<select id="selectAllrecipe" parameterType = "hashmap" resultMap="recipeResultMap" >
	SELECT
			   A.RECIPE_NO
			 , A.FOOD_NAME
			 , A.RECIPE_PRICE
			 , A.FOOD_PRICE
			 , A.FOOD_EXP
	 	  FROM RECIPE A
	 	  JOIN PLAYER_RECIPE B ON (B.RECIPE_NO = A.RECIPE_NO)
	 	 WHERE B.PLAYER_NAME = #{ name }
	  
</select>






</mapper>