<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user.player.common.UserLevelMapper">

<resultMap type="StoreDTO" id="storeResultMap">
		<id property="name" column="STORE_NAME" />
		<result property="level" column="STORE_lEVEL"/>
	</resultMap>
<resultMap type="PlayerStoreDTO" id="playerstoreResultMap">
		<id property="PlayerName" column="PLAYERSTORE_PLAYERNAME" />
		<result property="storeLevel" column="PLAYERSTORE_STORELEVEL" />
	</resultMap>


<select id="selectUserLevel" parameterType="PlayerDTO" resultType="String" >

	SELECT S.STORE_NAME
	  FROM STORE S
	  	 , PLAYER_STORE PS
	 WHERE PS.PLAYER_NAME = #{name}
	   AND PS.STORE_LEVEL = S.STORE_LEVEL
	   
</select>









</mapper>

